@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";

body {
  background-color: rgb(255, 157, 171);
  font-size: 20px;
  font-weight: 500;
  font-family: "Fredoka";
  color: white;
  overflow: hidden;
}

// header styles
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
}

h1 {
  font-size: 2rem;
  font-family: "Pacifico";
  color: $main-color;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 32px;
}

// slogan
.slogan {
  position: absolute;
  top: 20vh;
  left: 80px;

  p {
    font-size: 2.5rem;
  }

  .slogan-highlight {
    color: $main-color;
    font-size: 2em;
    font-weight: 700;
  }
}

// button styles
.regular-btn {
  background-color: white;
  min-width: 150px;
  padding: 1.5em 2em;
  margin-right: 10px;
  border: none;
  border-radius: 20px;
}

// bg illustration
.shake-image {
  width: 50vw;
  @include rightBottomCorner();
}

.circle {
  @include rightBottomCorner();
  @include circle(55vw);
}
